<ion-view>
  <ion-content class="has-header padding">
    <div id="titlebrand">
      <img src="img/applogo.png" />
      <p>Register to get daily outfit recommendations, start dressing better today.</p>
    </div>
    <form name="user_register_form" ng-submit="formSubmit()" ng-controller="user_register_controller as $ctrl">
      <p class="error" ng-bind="errorMsg"></p>
      <ion-list inset>
        <ion-item>
          <input type="text" name ="username" ng-model="$ctrl.user.username" placeholder="Username" required>
          <span ng-show="user_register_form.username.$touched && user_register_form.username.$invalid">The username is required.</span>
        </ion-item>
        <ion-item>
          <input type="email" name="email" ng-model="$ctrl.user.email" placeholder="Email" required>
          <span ng-show="stylist_register_form.email.$touched && stylist_register_form.email.$invalid">The email is required.</span>
        </ion-item>
        <ion-item>
          <input type="password" name="pword" ng-model="$ctrl.user.password" placeholder="Password" required>
          <span ng-show="user_register_form.pword.$touched && user_register_form.pword.$invalid">The password is required.</span>
        </ion-item>
        <ion-item>
          <input type="password" name="re_pword" ng-model="re_pword" placeholder="Retype Ppassword" required>
          <span ng-show="(user_register_form.re_pword.$touched && user_register_form.re_pword.$invalid) || !isValid()">The retype password is required and matched.</span>
        </ion-item>
        <ion-item>
          <input type="text" name="stylist_code" ng-model="$ctrl.user.stylist_code" placeholder="Stylist Email" required>
          <span ng-show="user_register_form.stylist_code.$touched && user_register_form.stylist_code.$invalid">The Stylist Code is required.</span>
        </ion-item>
      </ion-list>

      <button class="button block button-positive" ng-click="$ctrl.formSubmit()">Register</button>
      <button class="button block" type="reset">Clear</button>
    </form>
  </ion-content>
</ion-view>