<ion-view>
  <ion-content class="padding">
    <div id="titlebrand">
      <img src="img/applogo.png" />
    </div>
    <form name="user_signin_form" ng-controller="user_signin_controller as $ctrl">
      <p class="error" ng-bind="errorMsg"></p>
      <ion-list inset>
        <ion-item>
          <input type="email" name="username" ng-model="$ctrl.user.username" placeholder="Username" required>
          <span ng-show="user_signin_form.username.$touched && user_signin_form.$invalid">The username is required.</span>
        </ion-item>
        <ion-item>
          <input for="password_current" type="password" name="pword" ng-model="$ctrl.user.password" placeholder="password" required>
          <span ng-show="user_signin_form.pword.$touched && user_signin_form.pword.$invalid">The password is required.</span>
        </ion-item>
      </ion-list>

      <button class="button block button-positive" ng-click="$ctrl.formSubmit()">Sign-In</button>
      <button ion-button icon-end class="button block" type="reset">Clear</button>
    </form>

    <div class="alternativeoption">
      Connect with your style, <a href="#/user_register">register</a>
    </div>
  </ion-content>
</ion-view>