<ion-nav-bar class="bar">
  <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>
<ion-view>
  <ion-content class="has-header padding">
    <div id="titlebrand">
      <img src="img/applogo.png" />
    </div>
    <form name="user_signin_form" ng-submit="submit()" ng-controller="user_signin_controller">
      <ion-list inset>

        <!-- Is there a way we can use ion-items? -->
        <!-- <ion-item>
          <ion-label>Username</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
          
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item> -->

        <ion-item>
          <input type="text" name="username" ng-model="username" placeholder="Username" required>
          <span ng-show="user_signin_form.username.$touched && user_signin_form.username.$invalid">The username is required.</span>
        </ion-item>
        <ion-item>
          <input type="password" name="pword" ng-model="pword" placeholder="Password" required>
          <span ng-show="user_signin_form.pword.$touched && user_signin_form.pword.$invalid">The password is required.</span>
        </ion-item>
      </ion-list>

      <button ion-button block class="button block" type="submit">Sign-In</button>
      <button ion-button icon-end class="button block" type="reset">Clear</button>
    </form>

    <div class="alternativeoption">
      Connect with your style, <a href="#/user_register">register</a>
    </div>
  </ion-content>
</ion-view>