<ion-nav-bar class="bar" animation = "no-animation">
	<ion-nav-buttons side="left">
		<button class="button button-icon ion-search" ng-click="openPopover($event)"></button>
	</ion-nav-buttons>
	<ion-nav-title>Recommendations</ion-nav-title>
</ion-nav-bar>

<ion-view view-title="User Recommended">
	
	<ion-content class="has-header has-footer padding">
		<div class="emptyStateMessage full" ng-hide="emptyState">
			<h3>Hey there {{user.name}},</h3>
			</br>
			<p>Your stylist hasn't added any styles for us to recommend you outfits. Once they do we'll update this area</p>
			<p>Can't wait to see all your great style!</p>
		</div>
		<ion-list class="listofcards">
			<ion-item ng-repeat="(outfitid, outfit) in user.recommendedoutfits"  ng-show="categories.{{outfit.categorybottom}}.filter || categories.{{outfit.categorytop}}.filter || categories.{{outfit.categoryfull}}.filter">
					<ion-card>
						<div class="row" ng-show="outfit.imgfull == 'None'">
							<div class="col col-50">
								<img src={{outfit.imgtop}} />
							</div>
							<div class="col col-50">
								<img src={{outfit.imgbottom}} />
							</div>
						</div>
						<img src={{outfit.imgfull}}  ng-hide="outfit.imgfull == 'None'" />
						<div class="row">
							<div class="col col-75">
									<div class="card-title">{{outfit.name}}</div>
									<p>{{outfit.description}}</p>
							</div>
							<div class="col">
									<button class="button button-small button-positive" ng-click="selected(outfit)">Select</button>
							</div>
						</div>
					</ion-card>
			</ion-item>
		</ion-list>
	</ion-content>

	<ion-tabs class="tabs-positive">
		<ion-tab title="Wardrobe" href="/user_main">
		</ion-tab>
		<ion-tab title="Recommended" href="/user_recommend">
		</ion-tab>
	</ion-tabs>
</ion-view>