<ion-view>
    <ion-nav-bar class="bar" animation="no-animation">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-title>{{text.beginning}} {{text.end.$value}}</ion-nav-title>
    </ion-nav-bar>
    
    <ion-content class="has-header">
        <div class="padding">
            <div id="titlebrand">
                <img src="img/applogo.png" />
            </div>
            <div class="row">
                <div class="col">
                    <img class="" style="width: 100%; max-width: 300px;" src="{{text.image}}" />
                </div>
                <div class="col">
                    <p>To ensure the best results, please input pictures that the Fashion Magic will be able to understand better.</p>
                    <p>{{text.description}}</p>
                </div>
            </div>
            
        </div>
        <div id="footer-copywrite" class="padding-top">
            <button class="button button-positive" ng-click="takePhoto()" ng-hide="hasImage">Upload pictures</button>
            <div ng-show="hasImage && !(isCombination || isFullbody)">
                <p>Please choose an outfit type</p>
                <select name="typeValue" ng-model="typeValue" ng-change="showType()">
                    <option value="COMBINATIONS">Top + Bottom Piece Outfit</option>
                    <option value="FULLBODY">Fullbody Piece Outfit</option>
                </select>
            </div>
            <div ng-show="isFullbody">
                <p>Please the piece category that you are uploading</p>
                <select ng-model="fullbody_cat">
                    <option value="Coat">Coat</option>
                    <option value="Cape">Cape</option>
                </select>
            </div>
            <div ng-show="isCombination">
                <p>Please choose the piece categories that you are uploading</p>
                <div class="row">
                    <div class="col">
                        <p>Top Category:</p>
                        <select ng-model="top_cat">
                            <option value="Sweater">Sweater</option>
                            <option value="Blazer">Blazer</option>
                            <option value="Bomber">Bomber</option>
                            <option value="Cardigan">Cardigan</option>
                            <option value="Hoodie">Hoodie</option>
                            <option value="Flannel">Flannel</option>
                            <option value="Jacket">Jacket</option>
                            <option value="Parka">Parka</option>
                            <option value="Poncho">Poncho</option>
                            <option value="Tee">Tee</option>
                            <option value="Top">Top</option>
                            <option value="Jersey">Jersey</option>
                            <option value="Button-Down">Button-Down</option>
                            <option value="Tank">Tank</option>
                            <option value="Henley">Henley</option>
                        </select>
                    </div>
                    <div class="col">
                        <p>Bottom Category:</p>
                        <select ng-model="bottom_cat">
                            <option value="Pants">Pants</option>
                            <option value="Jeans">Jeans</option>
                            <option value="Chinos">Chinos</option>
                            <option value="Joggers">Joggers</option>
                            <option value="Sweatpants">Sweatpants</option>
                            <option value="Shorts">Shorts</option>
                            <option value="Trunks">Trunks</option>
                            <option value="Sweatshorts">Sweatshorts</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row padding-top">
                <img src={{postConent}} style="width: 70%; height:auto; margin: 0 auto;" />
            </div>
            <div id="footer-copywrite" class="padding-top">
                <button class="button button-positive" ng-click="uploadOutfit()" ng-show="hasImage && (isFullbody || isCombination)">Upload Outfit</button>
                <div class="alternativeoption" ng-show="hasImage && (isFullBody || isCombination)">
                    alternatively,
                    <a href="" ng-click="loadPhoto()">upload from gallery</a>
                </div>
            </div>
        </div>

        <div>
            <img ng-attr-id="abcde" src="{{test_img}}">
        </div>

        <div class="padding">
            <button class="button button-small button-positive margin" style="float:right;" ng-click="openPopover($event)">Filter</button>
            <div class="row myrow padding-top">
                <div class="item editimages col-25" ng-repeat="(pieceid, piece) in wardrobePieces" ng-show="categories.{{piece.category}}.filter">
                    <img src={{piece.img}}>
                    <button class="delete" ng-click="remove(pieceid)"></button>
                </div>
                <div class="item editimages col-25" ng-repeat="(pieceid, piece) in recommendedPieces" ng-show="categories.{{piece.categorybottom}}.filter || categories.{{piece.categorytop}}.filter || categories.{{piece.categoryfull}}.filter">
                    <img src={{piece.img}}>
                    <button class="delete" ng-click="remove(pieceid)"></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>