<ion-view>
    <ion-nav-bar class="bar" animation="no-animation">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-title>{{title.beginning}} {{title.end.$value}}</ion-nav-title>
    </ion-nav-bar>
    
    <ion-content class="has-header">
        <div class="padding">
            <div id="titlebrand">
                <img src="img/applogo.png" />
            </div>
            <img class="inlineimg" src="img/ionic.png" />
            <p>To ensure the best results, please input pictures that the Neural Net will be able to see the best.</p>
            <p class="">Our dataset is designed to Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div id="footer-copywrite" class="padding-top">
            <button class="button button-positive" ng-click="takePhoto()">Upload pictures</button>
            <div class="alternativeoption">
                alternatively,
                <a href="" ng-click="loadPhoto()">upload from gallery</a>
            </div>
        </div>

        <div>
            <img ng-attr-id="abcde" src="{{test_img}}">
        </div>

        <div class="padding">
            <button class="button button-small button-positive margin" style="float:right;" ng-click="openPopover($event)">Filter</button>
            <div class="row myrow padding-top">
                <div class="item editimages col-25" ng-repeat="piece in wardrobePieces" ng-show="categories.{{piece.category}}.filter">
                    <img src={{piece.img}}>
                    <button class="delete" ng-click="remove(piece.imgURI)"></button>
                </div>
                <div class="item editimages col-25" ng-repeat="piece in recommendedPieces" ng-show="categories.{{piece.categorybottom}}.filter || categories.{{piece.categorytop}}.filter || categories.{{piece.categoryfull}}.filter">
                    <img src={{piece.img}}>
                    <button class="delete" ng-click="remove(piece.imgURI)"></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>