<ion-side-menus>
  <ion-side-menu side="left" width="300" id="clientList">  
    <ion-header-bar class = "bar-positive">
      <ion-title>Clients</ion-title>
    </ion-header-bar>
    
    <ion-content>
      <ion-list>
        <ion-item class="item-avatar" ng-repeat="(clientid, client) in clientList" ng-click="loadClient(clientid)">
          <img src={{client.img}}>
          <h2>{{client.name}}</h2>
          <p>{{client.email}}</p>
        </ion-item>
        <ion-item class="item-avatar client-request" ng-repeat="client in clientRequestList" ng-click="loadClient(client)">
          <img src={{client.img}}>
          <h2>{{client.name}}</h2>
          <p>{{client.email}}</p>
          <button class="button button-positive button-small">Accept</button>
          <button class="button button-assertive button-small">Decline</button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu-content>
    <ion-nav-bar class = "bar" animation = "no-animation">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-title>{{client.name}}</ion-nav-title>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-positive ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-view>
      <ion-content class="has-header" id="profile">
        <div id="profileheader">
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-finn.png">
          <h4>{{client.name}}</h4>
        </div>

        <div id="clientloglist" class="profile-section">
          <div class="profilesubheader">
            <h4>Dress Log</h4>
            <button class="button button-small button-positive">Search</button>
          </div>
          <ion-list class="horizontal-images">
            <ion-scroll direction="x" class="wide-as-needed">
              <ion-item ng-repeat="item in client.dresslog">
                <img src={{item.img}} />
              </ion-item>
            </ion-scroll>
          </ion-list>
        </div>
        <div id="clientwardrobelist" class="profile-section">
          <div class="profilesubheader">
            <h4>Wardrobe</h4>
            <button class="button button-small button-positive">Search</button>
          </div>
          <ion-list class="horizontal-images">
            <ion-scroll direction="x" class="wide-as-needed">
              <ion-item ng-repeat="item in wardrobeItems">
                <img src={{item.img}} />
              </ion-item>
            </ion-scroll>
          </ion-list>
        </div>
        <div id="recommendedlist" class="profile-section">
          <div class="profilesubheader">
            <h4>Recommendations</h4>
            <button class="button button-small button-positive">Search</button>
            <a href="#/upload_images/stylist/{{client.$id}}"><button class="button button-small button-positive">Edit</button></a>
          </div>
          <ion-list class="horizontal-images">
            <ion-scroll direction="x" class="wide-as-needed">
              <ion-item ng-repeat="recommended in recommendedItems">
                <img src={{recommended.img}} />
              </ion-item>
            </ion-scroll>
          </ion-list>
        </div>
      </ion-content>
    </ion-view>  
  </ion-side-menu-content>
</ion-side-menus>