ion-content#profile {
    margin: 0 10px;
}

#profileheader {
    margin: 10vh 0 5vh 0;
    text-align: center
}

#profileheader img {
    display: block;
    margin: 0 auto;
    padding-bottom: 1vh;
    border-radius: 50%;
}

.profile-section {
    margin-bottom: 10px;
}

.profilesubheader {
    height: 50px;
    width: 100%;
}

.profilesubheader h4 {
    float: left;
}

.profilesubheader button {
    float: right;
    margin: 5px 0 2px 2px;
}

ion-list.horizontal-images {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 900px;
    overflow-x: auto;
    overflow: auto;
}

ion-list.horizontal-images ion-item {
    display: inline;
    border: none;
}

ion-list.horizontal-images ion-item img {
    width: 150px;
    height: 150px;
    background-color: #ddd;
}

.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}

.popup {
    border-radius: 5% !important;
}

.popup .button {
    border-radius: 4px !important;
}

.delete {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -115px;
    right: 25px;
    background: url("https://cdn.iconscout.com/public/images/icon/free/png-512/false-delete-remove-cross-wrong-306c19a71a478768-512x512.png");
    background-size: 100% 100%;
    background-color: lightgrey;
    border-radius: 50%;
    overflow: hidden;
    text-indent: -9999px;
}