ion-list ion-item img {
    width: 100%;
}

ion-list.listofcards ion-item {
    margin-bottom: 10px;
}

ion-list .col button {
    float: right;
}

.listofcards.horizontal-images .card {
    width: 200px;
    display: inline-block;
}

.listofcards.horizontal-images:not(.width) .card img {
    width: 100%;
    height: 100%;
}

.listofcards.horizontal-images.width .card img {
    width: 100%;
    background: white;
    padding: 10px;
}