.editimages.item {
    border: none;
    width: 25%;
}

.editimages.item img {
    width: 100%;
}

.myrow {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

.mycolumn {
    -ms-flex: 33%;
    /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.mycolumn .clothingitem {
    margin-top: 8px;
    vertical-align: middle;
}

.inlineimg {
    float: left;
    padding-right: 20px; 
}