    .error {
    color: red;
}

.emptyStateMessage.full {
    height: 90vh;
    width: 70%;
    margin: 0 auto 0 0;
    padding: 13% 0
}

.emptyStateMessage.full.stylist {
    padding: 13% 25% 13% 7%; 
}

.popover, .popover .bar-header {
    border-radius: 15px !important; 
}

.platform-android .bar .title {
    text-align: center; 
    top: unset; 
}

@import url("https://use.typekit.net/kmt3uyl.css");
h1,h2,h3,h4,h5,h6,.tab-title,.button-positive:not(.button-small) {
    font-family: "eloquent-jf-pro", serif; 
    font-style: italic; 
    font-weight: bold;
}