#user-selection .card {
    width: 100%;
    height: 25vh;
    margin: 0;
    position: relative;
}

#user-selection .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#user-selection .card .item.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.welcome-top {
    height: 75vh;
}

.welcome-bot {
    height: 25vh;
}

#footer-copywrite {
    text-align: center;
}

#footer-copywrite p {
    font-size: smaller;
}